<h2>Resend confirmation instructions</h2>

<%= simple_form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post, class: "form-horizontal form-user" }) do |f| %>
  <%= f.error_notification %>
  <%= f.full_error :confirmation_token %>


    <div class="form-group">
      <%= f.label :email, "email", class: "control-label col-md-2" %>
      <div class="col-md-6">
        <%= f.text_field :email, required: true, autofocus: true, class: "text-field form-control", html: {spellcheck: "false"} %>
      </div>
    </div>

    <div class="form-group">
      <div class="col-md-offset-2 col-md-8">
        <%= f.submit "Resend confirmation instructions", class: "btn btn-primary" %>
      </div>
    </div>


<% end %>
  <div class="col-md-offset-1 col-md-8">
<%= render "devise/shared/links" %>
  </div>
